<%= form_for(@reminder) do |f| %>
  <% if @reminder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reminder.errors.count, "error") %> prohibited this reminder from being saved:</h2>

      <ul>
      <% @reminder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :text %><br>
    <%= f.text_field :text, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :recurrence_period %><br>
    <%= f.number_field :recurrence_period, class: "form-control" %>
  </div>
  <div class="checkbox">
    <%= f.label :recurring do %>
      <%= f.check_box :recurring %>
      Recurring
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :trigger_at %><br>
    <%= f.datetime_select :trigger_at, class: "form-control" %>
  </div>
  <div class="actions">
    <%= link_to 'Back', :back, class: "btn btn-default" %>
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
