<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @reminder.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @reminder.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @reminder.text %>
</p>

<p>
  <strong>Recurring:</strong>
  <%= @reminder.recurring %>
</p>

<p>
  <strong>Recurrence Period:</strong>
  <%= @reminder.recurrence_period %>
</p>

<p>
  <strong>Trigger at:</strong>
  <%= @reminder.trigger_at %>
</p>

<%= link_to 'Back', reminders_path, class: "btn btn-default" %>
<%= link_to 'Edit', edit_reminder_path(@reminder), class: "btn btn-primary" %>

