<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @notification.user.name %>
</p>

<p>
  <strong>Reminder:</strong>
  <%= @notification.reminder_id %>
</p>

<p>
  <strong>Text content:</strong>
  <%= @notification.text %>
</p>

<p>
  <strong>Dispatched:</strong>
  <%= @notification.dispatched %>
</p>

<p>
  <strong>Trigger at:</strong>
  <%= @notification.trigger_at %>
</p>

<%= link_to 'Back', :back, class: 'btn btn-default' %>
<%= link_to 'Edit', edit_notification_path(@notification), class: 'btn btn-primary' %>

