<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @notification.user %>
</p>

<p>
  <strong>Reminder:</strong>
  <%= @notification.reminder_id %>
</p>

<p>
  <strong>Text content:</strong>
  <%= @notification.text %>
</p>

<p>
  <strong>Dispatched:</strong>
  <%= @notification.dispatched %>
</p>

<p>
  <strong>Trigger at:</strong>
  <%= @notification.trigger_at %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
