<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><%= link_to "Home", home_path %></li>
      <% if signed_in? %>
        <li><%= link_to "Profile", current_user %></li>
        <li><%= link_to "Settings", '#' %></li>
        <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
      <% else %>
        <li><%= link_to "Sign in", '#' %></li>
      <% end %>
    </ul>
  </div>
</nav>