<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= render 'layouts/html5shiv' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="page-container">
    <div class="page-left-border"></div>
    <div class="page-middle">
      <%= render 'layouts/header' %>
      <div class="header-spacer"></div>
      <div class="container">
        <%= yield %>
      </div>  
    </div>
    <div class="page-right-border"></div>  
  </div>
</body>
</html>
